# [HW3] FBA QUANT - FINANCIAL ENGINEERING

Kim Na Young (dudskrla09@gmail.com)

---

### Problem 1.

Build a 15-period binomial model whose parameters should be calibrated to a Black-Scholes geometric Brownian motion (GBM) model with:       
T = .25 years, $ùëÜ_0$ = 100, r = 2%, œÉ = 30% and a dividend yield of c = 1%.     
Hint: Your binomial model should use a value of u = 1.0395. Now answer the following questions:

(a) Compute the price of an American call option with strike K = 110 and maturity T = .25years.         
(b) Compute the price of an American put option with strike K = 110 and maturity T = .25years.           
(c) Is it ever optimal to early exercise the put option of part (b)?            
(d) If your answer to part (c) is ‚ÄúYes‚Äù, when is the earliest period at which it might be optimal to early exercise?           
(e) Do the call and put option prices of parts (a) and (b) satisfy put-call parity? Why or why not?

### Solution 1.

---

### Problem 2.

Consider the following two period binomial tree. Suppose you purchase an European call option with maturity T = 2, Strike = 100. Suppose $ùëÖ_ùëì$ = 1.0001, that is, $1 invested at T = 0 is worth $1.0001^ùë°$ at time t. At each time step, the stock can increase by a factor of 1.05 or decrease by a factor of 1/1.05. Assume there is no arbitrage.

(a) Compute the price of the option.       
(b) Repeat the problem above for an American option

### Solution 2.

![Alt text](image.png)

- **(a) Compute the price of the option.**       
    - S = 100
    - t = 2
    - $R_f$ = $1.0001^t$
    - u = 1.05
    - d = $\frac{1}{1.05}$

$$ (1) \;\; C_{uu} = max(u^2*S-K, 0) = max(1.05^2*100-100, 0) $$
$$ (2) \;\; C_{ud} = max(u*d*S-K, 0) = max(1.05*\frac{1}{1.05}*100-100, 0) = 0 $$
$$ (3) \;\; C_{dd} = max(d^2*S-K, 0) = max(\frac{1}{1.05}^2*100-100, 0) = 0$$

$$ (4) \;\; q = \frac{R-d}{u-d} = \frac{1.0001-\frac{1}{1.05}}{1.05-\frac{1}{1.05}} ‚âà 0.4888292683$$

$$ (5) \;\; C_u = \frac{q*C_{uu} + (1-q)*C_{ud}}{R} = \frac{\left(\left(\frac{\left(1.0001-\frac{1}{1.05}\right)}{1.05-\frac{1}{1.05}}\right)\cdot100\cdot\left(1.05^{2}-1\right)\ \right) + (1-q) * C_{ud}}{1.0001} ‚âà 5.009999 $$
$$ (6) \;\; C_d = \frac{q*C_{ud} + (1-q)*C_{dd}}{R} = 0$$

$$ (7) \;\; ‚à¥ \; C = \frac{q*C_{u} + (1-q)*C_{d}}{R} = \frac{0.4888*5.01 + 0}{1.0001} ‚âà 2.448888 $$



- **(b) Repeat the problem above for an American option**

$$ \;\; C_{u} ‚âà 5.009999 > u*S-K = 1.05*100-100 = 5 $$
$$ \;\; C_{d} = 0 > d*S-K = \frac{1}{1.05}*100-100 ‚âà -4.761904762 $$

The value of the option at the end of one period is greater than the amount that would be obtained by exercise at that period. Hence, we should not exercise this option.         

‚à¥ The price of American option = The price of Europian option.

---

### Problem 3.

Suppose that u = $ùëí^ùë§$, where w is normal with expected value $\bar{w}$ and variance $\sigma^2$. Then

$$ \bar u = \frac{1}{\sqrt{2\pi\sigma^2}} \int_{-\infty}^{\infty}e^w e^{\frac{-(w-\bar w)^2}{2\sigma^2}}dw \; - \; (1) $$ 

Show that
 
$$ w - \frac{(w- \bar w)^2}{2 \sigma^2} = - \frac{1}{2\sigma^2}[w - (\bar w + \sigma^2)]^2 + \bar w + \frac{\sigma^2}{2}  \; - \; (2)$$
 
 
Use the fact that

$$ \frac{1}{\sqrt{2\pi\sigma^2}} \int_{-\infty}^{\infty} e^{\frac{-(x-\bar x)^2}{2\sigma^2}}dx = 1 \; - \; (3) $$ 

to evaluate $\bar{u}$.

### Solution 3.

$$ \bar u = \frac{1}{\sqrt{2\pi\sigma^2}} \int_{-\infty}^{\infty}e^w e^{\frac{-(w-\bar w)^2}{2\sigma^2}}dw = \frac{1}{\sqrt{2\pi\sigma^2}} \int_{-\infty}^{\infty}e^{w-\frac{(w-\bar w)^2}{2\sigma^2}}dw = \frac{1}{\sqrt{2\pi\sigma^2}} \int_{-\infty}^{\infty}e^{- \frac{1}{2\sigma^2}[w - (\bar w + \sigma^2)]^2 + \bar w + \frac{\sigma^2}{2}}dw \;\; (\; by \;\; (2) \;) $$

$$ = \frac{1}{\sqrt{2\pi\sigma^2}} * e^{\bar w + \frac{\sigma^2}{2}} * \int_{-\infty}^{\infty}e^{- \frac{1}{2\sigma^2}[w - (\bar w + \sigma^2)]^2 }dw = \frac{1}{\sqrt{2\pi\sigma^2}} * e^{\bar w + \frac{\sigma^2}{2}} * \int_{-\infty}^{\infty}e^{-\frac{w^2 - 2*w*(\bar{w}+\sigma^2) + (\bar{w}^2 + 2*\bar{w}*\sigma^2+\sigma^4)}{2\sigma^2}}dw $$

$$ = \frac{1}{\sqrt{2\pi\sigma^2}} * e^{\bar w + \frac{\sigma^2}{2}} * \int_{-\infty}^{\infty}e^{-\frac{(w^2 - 2*w*\bar{w}+\bar{w}^2)+(-2*w*\sigma^2 + 2*\bar{w}*\sigma^2+\sigma^4)}{2\sigma^2}}dw = \frac{1}{\sqrt{2\pi\sigma^2}} * e^{\bar w + \frac{\sigma^2}{2}} * e^{-\frac{(-2*w*\sigma^2 + 2*\bar{w}*\sigma^2+\sigma^4)}{2\sigma^2}} * \int_{-\infty}^{\infty}e^{-\frac{(w-\bar{w})^2}{2\sigma^2}}dw$$

$$ = \frac{1}{\sqrt{2\pi\sigma^2}} * e^w * \int_{-\infty}^{\infty}e^{-\frac{(w-\bar{w})^2}{2\sigma^2}}dw = e^w *\frac{1}{\sqrt{2\pi\sigma^2}} \int_{-\infty}^{\infty}e^{-\frac{(w-\bar{w})^2}{2\sigma^2}}dw = \; e^w  \;\; (\; by \;\; (3) \;)$$

---

### Problem 4.

You are considering an investment in a tree farm. Tree grow each year by the following factors:                
The price of lumber follows a binomial lattice with u = 1.20 and d = .9. The interest rate is constant at 10%. It costs $2 million each year, payable at the beginning of the year, to lease the forest land. The initial value of the trees is $5 million (assuming they were harvested immediately). You can cut the trees at the end of any year and then not pay rent after that. (For those readers who care, we assume that cut lumber can be stored at no cost.) 

|Year| 1| 2| 3| 4| 5| 6| 7| 8| 9| 10|
|--|--|--|--|--|--|--|--|--|--|--|
|Growth |1.6| 1.5| 1.4| 1.3| 1.2| 1.15| 1.1| 1.05| 1.02| 1.01| 

(a) Argue that if the rent were zero, you would never cut the trees as long as they were growing.        
(b) With rent of $2 million per year, find the best cutting policy and the value of the investment opportunity.

### Solution 4.

- S = $5 million
- t = 10
- R = 1.10
- u = 1.20
- d = 0.9
- cost = $2 million

In [35]:
import numpy as np
import pandas as pd

S_0 = 5
t = 10
R = 1.10
u = 1.20
d = 0.9
q = (R-d)/(u-d)
cost = 2
growth = [0, 1.6, 1.5, 1.4, 1.3, 1.2, 1.15, 1.1, 1.05, 1.02, 1.01]

- **(a) Argue that if the rent were zero, you would never cut the trees as long as they were growing.**

In [36]:
# Binomial Lattice Table 
S = pd.DataFrame(np.zeros((t+1)*(t+1)).reshape(t+1,t+1))
C = pd.DataFrame(np.zeros((t+1)*(t+1)).reshape(t+1,t+1))

In [37]:
# ex. C_uu >= u**2 * S - K 
# (1) S table : ex. u**2 * S
# (2) C table : C_uu
# (3) K table : u**2 * S - K 

################
## 1. S Table ##
################
S.loc[0, 0] = S_0 

for row in range(0, t):
    S.loc[row+1, row+1] = (S.loc[row, row] * growth[row+1]) * d     # Strike Price * growth rate * down ratio 
    for col in range(row, t):
        S.loc[row, col+1] = (S.loc[row, col] * growth[col+1]) * u   # Strike Price * growth rate * up ratio 

print(f"S Table (ex. u**2 * S) : ")
S

S Table (ex. u**2 * S) :

,0,1,2,3,4,5,6,7,8,9,10
0,5.0,9.6,17.28,29.0304,45.287424,65.213891,89.995169,118.793623,149.679965,183.208277,222.048432
1,0.0,7.2,12.96,21.7728,33.965568,48.910418,67.496377,89.095217,112.259974,137.406208,166.536324
2,0.0,0.0,9.72,16.3296,25.474176,36.682813,50.622283,66.821413,84.194980,103.054656,124.902243
3,0.0,0.0,0.00,12.2472,19.105632,27.512110,37.966712,50.116060,63.146235,77.290992,93.676682
4,0.0,0.0,0.00,0.0000,14.329224,20.634083,28.475034,37.587045,47.359676,57.968244,70.257512
5,0.0,0.0,0.00,0.0000,0.000000,15.475562,21.356275,28.190284,35.519757,43.476183,52.693134
6,0.0,0.0,0.00,0.0000,0.000000,0.000000,16.017207,21.142713,26.639818,32.607137,39.519850
7,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,15.857035,19.979863,24.455353,29.639888
8,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,14.984898,18.341515,22.229916
9,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,13.756136,16.672437
10,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.504328

In [38]:
################
## 2. C Table ##
################
for row in range(0, 10): # initialize
    C.loc[row, 10] = max(S.loc[row, 10] - S_0 * growth[10], 0)

for col in range(t-1, -1, -1):
    for row in range(0, col):
        C.loc[row, col] = (q * C.loc[row, col+1] + (1-q) * C.loc[row+1, col+1])/R   # 1/R * { q*C_u + (1-q)*C_d } 

print(f"C Table (ex. C_uu) : ")
C

C Table (ex. C_uu) :

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,40.892781,49.285506,59.378194,71.512977,86.100632,103.634324,124.706110,150.026746,180.449451,216.998432
1,0.0,0.000000,36.375164,43.885783,52.922085,63.791561,76.863438,92.581048,111.476671,134.189361,161.486324
2,0.0,0.000000,0.000000,32.266475,38.978915,47.059757,56.785274,68.487251,82.564115,99.494293,119.852243
3,0.0,0.000000,0.000000,0.000000,28.521538,34.510905,41.726651,50.416903,60.879698,73.472993,88.626682
4,0.0,0.000000,0.000000,0.000000,0.000000,25.099266,30.432684,36.864142,44.616385,53.957017,65.207512
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,21.962208,26.699572,32.418900,39.320036,47.643134
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.076144,23.270787,28.342300,34.469850
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.409702,20.108997,24.589888
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.934021,17.179916
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.622437
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [39]:
################
## 3. K Table ##
################
K = pd.DataFrame(np.zeros((t+1)*(t+1)).reshape(t+1,t+1))

K.loc[0, 0] = S_0 
for row in range(0, t):
    K.loc[row+1, row+1] = (K.loc[row, row] * growth[row+1]) 
    for col in range(row, t):
        K.loc[row, col+1] = (K.loc[row, col] * growth[col+1]) 
        
K = S.sub(K)

print(f"K Table (ex. u**2 * S - K): ")
K

K Table (ex. u**2 * S - K):

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,1.6,5.28,12.2304,23.447424,39.005891,59.855969,85.640503,114.869189,147.701286,186.186371
1,0.0,-0.8,0.96,4.9728,12.125568,22.702418,37.357177,55.942097,77.449198,101.899216,130.674263
2,0.0,0.0,-2.28,-0.4704,3.634176,10.474813,20.483083,33.668293,49.384204,67.547664,89.040182
3,0.0,0.0,0.00,-4.5528,-2.734368,1.304110,7.827512,16.962940,28.335459,41.784000,57.814621
4,0.0,0.0,0.00,0.0000,-7.510776,-5.573917,-1.664166,4.433925,12.548900,22.461252,34.395450
5,0.0,0.0,0.00,0.0000,0.000000,-10.732438,-8.782925,-4.962836,0.708981,7.969191,16.831072
6,0.0,0.0,0.00,0.0000,0.000000,0.000000,-14.121993,-12.010407,-8.170958,-2.899854,3.657789
7,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,-17.296085,-14.830913,-11.051639,-6.222174
8,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,-19.825878,-17.165477,-13.632146
9,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,-21.750856,-19.189625
10,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-23.357734

In [40]:
###########################
# 4. Early Excersie check #
###########################
def check_early_exercise(A, B):
    for row in range(0, t+1):
        for col in range(0, t):
            if A.loc[row, col] < B.loc[row, col]:
                print(f"Early Excercise at year {col}.")
                return 
    else:
        print("If the rent were zero, you would never cut the trees as long as they were growing.")

# ex. C_uu >= u**2 * S - K 
# C < K Ïù∏ Í≤ΩÏö∞Í∞Ä Ìïú Î≤àÏù¥ÎùºÎèÑ Î∞úÏÉùÌïòÎ©¥, early exercise 

check_early_exercise(C, K)

If the rent were zero, you would never cut the trees as long as they were growing.

- **(b) With rent of $2 million per year, find the best cutting policy and the value of the investment opportunity.**

In [41]:
# Binomial Lattice Table 
S = pd.DataFrame(np.zeros((t+1)*(t+1)).reshape(t+1,t+1))
C = pd.DataFrame(np.zeros((t+1)*(t+1)).reshape(t+1,t+1))

In [42]:
# ex. C_uu >= u**2 * S - K 
# (1) S table : ex. u**2 * S
# (2) C table : C_uu
# (3) K table : u**2 * S - K 

################
## 1. S Table ##
################
S.loc[0, 0] = S_0 

for row in range(0, t):
    S.loc[row+1, row+1] = (S.loc[row, row] * growth[row+1] - cost) * d      # (Strike Price * growth rate - rental fee)* down ratio 
    for col in range(row, t):
        S.loc[row, col+1] = (S.loc[row, col] * growth[col+1] - cost) * u    # (Strike Price * growth rate - rental fee)* up ratio 

print(f"S Table (ex. u**2 * S) : ")
S

S Table (ex. u**2 * S) :

,0,1,2,3,4,5,6,7,8,9,10
0,5.0,7.2,10.56,15.3408,21.531648,28.605573,37.075691,46.539912,56.240289,66.438114,78.122994
1,0.0,5.4,7.32,9.8976,13.040256,16.377969,20.201597,24.266108,28.175296,32.086562,36.488913
2,0.0,0.0,5.49,6.8232,8.244192,9.471636,10.670858,11.685533,12.323772,12.684296,12.973367
3,0.0,0.0,0.00,5.1174,5.583144,5.639727,5.382824,4.705327,3.528712,1.919144,-0.073997
4,0.0,0.0,0.00,0.0000,4.187358,3.629796,2.609118,1.044036,-1.084515,-3.727447,-6.917665
5,0.0,0.0,0.00,0.0000,0.000000,2.722347,1.356838,-0.608973,-3.167306,-6.276783,-10.007461
6,0.0,0.0,0.00,0.0000,0.000000,0.000000,1.017629,-1.056730,-3.731480,-6.967331,-10.844406
7,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,-0.792548,-3.398610,-6.559898,-10.350597
8,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,-2.548957,-5.519924,-9.090148
9,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.139943,-7.417611
10,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.563208

In [43]:
################
## 2. C Table ##
################
for row in range(0, 10): # initialize
    C.loc[row, 10] = max(S.loc[row, 10] - S_0 * growth[10], 0)

for col in range(t-1, -1, -1):
    for row in range(0, col):
        C.loc[row, col] = (q * C.loc[row, col+1] + (1-q) * C.loc[row+1, col+1])/R   # 1/R * { q*C_u + (1-q)*C_d } 

print(f"C Table (ex. C_uu) : ")
C

C Table (ex. C_uu) :

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,3.153519,4.628726,6.748834,9.767607,14.021370,19.945460,28.087796,39.115794,53.813606,73.072994
1,0.0,0.000000,1.149160,1.777130,2.735939,4.190362,6.379602,9.644425,14.458138,21.454907,31.438913
2,0.0,0.000000,0.000000,0.237970,0.392650,0.647873,1.068991,1.763835,2.910328,4.802041,7.923367
3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [44]:
################
## 3. K Table ##
################
K = pd.DataFrame(np.zeros((t+1)*(t+1)).reshape(t+1,t+1))

K.loc[0, 0] = S_0 
for row in range(0, t):
    K.loc[row+1, row+1] = (K.loc[row, row] * growth[row+1] - cost) 
    for col in range(row, t):
        K.loc[row, col+1] = (K.loc[row, col] * growth[col+1] - cost) 
        
K = S.sub(K)

print(f"K Table (ex. u**2 * S - K): ")
K

K Table (ex. u**2 * S - K):

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,1.2,3.56,7.5408,13.391648,20.837573,30.142491,40.913392,52.332443,64.452111,78.117131
1,0.0,-0.6,0.32,2.0976,4.900256,8.609969,13.268397,18.639588,24.267450,30.100559,36.483050
2,0.0,0.0,-1.51,-0.9768,0.104192,1.703636,3.737658,6.059013,8.415926,10.698294,12.967504
3,0.0,0.0,0.00,-2.6826,-2.556856,-2.128273,-1.550376,-0.921193,-0.379134,-0.066859,-0.079860
4,0.0,0.0,0.00,0.0000,-3.952642,-4.138204,-4.324082,-4.582484,-4.992361,-5.713450,-6.923528
5,0.0,0.0,0.00,0.0000,0.000000,-5.045653,-5.576362,-6.235493,-7.075152,-8.262786,-10.013324
6,0.0,0.0,0.00,0.0000,0.000000,0.000000,-5.915571,-6.683250,-7.639326,-8.953334,-10.850268
7,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,-6.419068,-7.306456,-8.545901,-10.356460
8,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,-6.456803,-7.505927,-9.096011
9,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.125946,-7.423474
10,0.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.569071

In [45]:
###########################
# 4. Early Excersie check #
###########################
def check_early_exercise(A, B):
    for row in range(0, t+1):
        for col in range(0, t):
            if A.loc[row, col] < B.loc[row, col]:
                print(f"Early Excercise at year {col}.")
                return
    else:
        print("If the rent were zero, you would never cut the trees as long as they were growing.")
        
# ex. C_uu >= u**2 * S - K 
# C < K Ïù∏ Í≤ΩÏö∞Í∞Ä Ìïú Î≤àÏù¥ÎùºÎèÑ Î∞úÏÉùÌïòÎ©¥, early exercise 

check_early_exercise(C, K)

Early Excercise at year 3.

---

### Problem 5.

A gambler starts with an initial fortune of i dollars. On each successive game, the gambler wins $1 with probability p, 0 < p < 1, or loses $1 with probability q = 1 ‚àí p . He will stop if he either accumulates N dollars or loses all his money. What is the probability that he will end up with N dollars?

### Solution 5.

---

### Problem 6.

Monty Hall problem is a probability puzzle based on an old American show Let's Make a Deal. The problem is named after the show's host. Suppose you're on the show now, and you're given the choice of 3 doors. Behind one door is a car; behind the other two, goats. You don't know ahead of time what is behind each of the doors. You pick one of the doors and announce it. As soon as you pick the door, Monty opens one of the other two doors that he knows has a goat behind it. Then he gives you the option to either keep your original choice or switch to the third door. Should you switch? What is the probability of winning a car if you switch?

### Solution 6.

![Alt text](image-3.png)

---

### Problem 7.

You are given an integer array prices where prices[i] is the price of a given stock on the ith day.

On each day, you may decide to buy and/or sell the stock. You can only hold at most one share of the stock at any time. However, you can buy it then immediately sell it on the same day.

Find and return the maximum profit you can achieve.

[Constraints]     
- 1 <= prices.length <= 3 * $10^4$
- 0 <= prices[i] <= $10^4$

### Solution 7.

In [46]:
class Solution:
    def maxProfit(self, prices: List[int]) -> int:
        ans,flag,buy = 0, 0, 10 ** 10
        if len(prices) <= 1:
            return 0
        for i in range(len(prices) - 1):
            if prices[i + 1] > prices[i]:
                if not flag:
                    flag = 1
                    buy = prices[i]
            else:
                if flag:
                    flag = 0
                    ans += prices[i] - buy
                    buy = 10 **  10
        ans += (prices[i + 1] - buy > 0) * (prices[i + 1] - buy)
        return ans

NameError: name 'List' is not defined

---

### Problem 8.

Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

[Constraints]

- 1 <= s.length <= $10^5$
- s consists of only lowercase English letters.

### Solution 8.

In [ ]:
class Solution:
    def firstUniqChar(self, s: str) -> int:
        answer = -1
        char_count = dict()

        for i in range(0, len(s)):
            if s[i] not in char_count.keys():
                char_count[s[i]] = i
            else:
                char_count[s[i]] = 1e9

        if min(char_count.values()) != 1e9:
            answer = min(char_count.values())
            
        return answer

---